@page "/Events"

@inject INobreakProvider _nobreak
@inject IMapper _mapper
@inject IAppCache _cache

<div class="p-3">
    <h2>Uptimes</h2>
    <UptimeCards Uptime="_uptime"/>
    <h2 class="mt-4">Eventos</h2>
</div>
<EventsTable ReloadValues="Reload" Uptime="_uptime"/>

<Timer Elapsed="Reload" Enabled="true" Interval="TimeSpan.FromSeconds(1)" />

@code {
    private UptimeReportViewModel _uptime;

    private async Task Reload()
    {
        _uptime = await _cache.GetOrAddAsync<UptimeReportViewModel>(
            key: typeof(Events).FullName,
            addItemFactory: async () =>
                _mapper.Map<UptimeReportViewModel>(await _nobreak.GetUptimeReportAsync()),
            policy: new()
            {
                AbsoluteExpirationRelativeToNow = TimeSpan.FromSeconds(1)
            });
        await InvokeAsync(StateHasChanged);
    }

    protected override Task OnInitializedAsync() =>
        Reload();
}
