@page "/DownloadAllValues"

<div class="p-5 text-center">
    <div class="alert alert-warning d-inline-block">Essa função permite que baixe um arquivo .zip com arquivos .json contendo todo o histórico do banco de dados.</div>
    <DownloadAllValuesButton />
</div>


