@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-warning">
        <ul class="m-0">
            @foreach(var validation in ViewData.ModelState.Where(s=>s.Value.ValidationState != Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Valid))
            {
                <li>@string.Join(", ", validation.Value.Errors.Select(e=>e.ErrorMessage))</li>
            }
        </ul>
    </div>
}