@{
    ViewData["Title"] = "Nobreak";
    ViewData["Layout"] = "_Layout";
}

<div id="values-table" class="container">
    <div class="alert alert-primary">Carregando...</div>
</div>

@section scripts { 
    <script>
        function toggleOnPurpose(id) {
            fetch(`/api/v1/ToggleOnPurpose/${id}`)
                .then(() => reloadValues());
        }

        function reloadValues() {
            loadTo("/EventsTable", "#values-table");
        }

        reloadValues();
        setInterval(() => reloadValues(), 2000);
    </script>
}