@model List<NobreakStateViewModel>

@{
    ViewData["Title"] = "Nobreak";
    ViewData["Layout"] = "_Layout";
}

<div class="container">
    <a href="@Url.Action("DownloadAllValues")" class="btn btn-block btn-warning">Baixar todas as leituras</a>
</div>

<div id="values-table" class="mt-3">
    <div class="container">
        <div class="alert alert-primary">Carregando...</div>
    </div>
</div>

@section scripts {
    <script>
        function reloadValues() {
            loadTo("/RecentValuesTable", "#values-table");
        }

        reloadValues();
        setInterval(() => reloadValues(), 2000);
    </script>
}